name: Notify Site of Update

on:
  push:
    branches:
      - main

jobs:
  ping-site:
    runs-on: ubuntu-latest
    steps:
      - name: Send Repository Dispatch
        run: |
          curl -i -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.SYNC_TOKEN }}" \
            https://api.github.com/repos/Project-Korlang/Korlang-Site/dispatches \
            -d '{"event_type": "compiler-updated"}'
